.Game{
  background-color:#FFA427;;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  font-size: calc(10px + 2vmin);
  color: white;
  max-width: 500px;
  margin: 0 auto;
}
